.paginaLista {
    margin-top: 2rem;
}

.areaFiltros {
    margin: 2rem 0
}

.gradeLista {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 1.5rem;
}

.tituloSecaoFilmes {
    font-size: 2rem;
}

.mensagemNenhum {
    grid-column: 1 / -1; 
    display: flex;
    justify-content: center; 
    width: 100%;
    padding: 2rem 0;
    font-size: 1.1rem;
    font-weight: 500;
    opacity: 0.7;
    text-align: center;
}