.containerCarrossel {
    width: 100%;
    height: 65vh;
    margin-bottom: 1.5rem;
}

.swiperContainer {
    width: 100%;
    height: 100%;
}

.carrosselSlide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center top;
    display: flex;
    align-items: flex-end;
}

.carrosselConteudo {
    width: 100%;
    padding: 3rem 0;
    animation: fadeIn 0.5s ease-in-out;
}

.tituloCarrossel {
    font-size: 3rem;
    font-weight: 800;
    text-shadow: 2px 2px 8px var(--sombra-mais-escura);
}

.anoCarrossel {
    font-size: 1.5rem;
    font-weight: 600;
    opacity: 0.9;
}

.sinopseCarrossel {
    margin-top: 0.6rem;
    max-width: 720px;
    font-size: 1rem;
    text-shadow: 1px 1px 4px var(--sombra-mais-escura);
}

.acoesCarrossel {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

.botaoCarrossel {
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: 600;
    transition: background-color 0.2s;
    border: none;
}

.botaoCarrossel {
    color: var(--roxo-medio);
    background-color: var(--branco);
    transition: 0.5s ease;
}

.botaoCarrossel:hover {
    transform: scale(1.05);
}

.swiper-pagination-bullet {
    background: var(--branco);
    opacity: 0.5;
}

.swiper-pagination-bullet-active {
    background: var(--roxo-bem-claro);
    opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--branco);
    opacity: 0.5;
    height: 2rem;
    transition: opacity 0.2s;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    opacity: 1;
}