.formulario {
    margin-top: 4rem;
}

.formulario input,
.formulario textarea {
    width: 100%;
}

.formFilme {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 4px 12px var(--sombra-bem-escura);
}

.tituloFormulario {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
}

.ladoALado {
    display: flex;
    width: 100%;
    gap: 1.5rem;
}

.campoMetade {
    flex: 1;
}

.formFilme label {
    display: block;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0.7rem;
}

.gridCampos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.acoesForm {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    margin-top: 1rem;
    border-top: 1px solid var(--borda-transparente);
    padding-top: 1.5rem;
}

.botaoSalvar {
    padding: 1rem 2.3rem;
    background: var(--branco);
    color: var(--roxo-mais-escuro);
    border-radius: 0.5rem;
    font-weight: 700;
    font-size: 1rem;
    transition: transform 0.2s, background-color 0.2s;
}

.botaoSalvar:hover {
    transform: scale(1.02);
}

.botaoCancelar {
    padding: 1rem 1.5rem;
    background: var(--fundo-transparente-mais-leve); 
    color: var(--branco);
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: 1rem;
    transition: transform 0.2s, background-color 0.2s;
    border: 1px solid transparent;
}

.botaoCancelar:hover {
    border: 1px solid var(--branco);
    background: var(--fundo-transparente-leve); 
    transform: scale(1.02);
}