.paginaDetalhe {
    margin-top: 3.5rem;
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 3rem;
    align-items: start;
}

.posterDetalhe {
    width: 100%;
    border-radius: 0.5rem;
}

.tituloDetalhe {
    font-size: 2.5rem;
}

.avisoPendente {
    background-color: var(--cor-pendente);
    color: var(--roxo-escuro);
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
}

.sinopseDetalhe {
    margin-top: 0.6rem;
    font-size: 1.1rem;
    line-height: 1.6;
}

.metaDetalhe {
    margin-top: 1rem;
    display: flex;
    gap: 3rem;
    list-style: none;
    padding: 0;
    line-height: 1.7;
    font-size: 1.1rem;
}

.sinopseDetalhe strong,
.metaDetalhe li strong {
    font-size: 1rem;
}

.botoesDetalhe {
    border-top: 1px solid var(--borda-transparente);
    padding-top: 1.2rem;
    margin-top: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.botaoEditar {
    padding: 1rem 2.3rem;
    background: var(--branco);
    color: var(--roxo-mais-escuro);
    border-radius: 0.5rem;
    font-weight: 700;
    font-size: 1rem;
    transition: transform 0.2s, background-color 0.2s;
}

.botaoEditar:hover {
    transform: scale(1.02);
}

.botaoVoltar {
    padding: 1rem 2.2rem;
    background: var(--fundo-transparente-mais-leve); 
    color: var(--branco);
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: 1rem;
    transition: transform 0.2s, background-color 0.2s;
    border: 1px solid transparent;
}

.botaoVoltar:hover {
    border: 1px solid var(--branco);
    background: var(--fundo-transparente-leve); 
    transform: scale(1.02);
}