.modalFundo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--sombra-padrao);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    animation: aparecer 0.3s forwards;
}

.modalConteudo {
    background: var(--roxo-escuro);
    border-radius: 0.5rem;
    overflow: hidden;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 10px 30px var(--sombra-bem-escura);
    border: 1px solid var(--borda-transparente);
    transform: scale(0.9);
    animation: aproximar 0.3s 0.1s forwards;
}

.modalCabecalho {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--branco);
    border-bottom: 1px solid var(--borda-transparente);
}

.modalCabecalho.info {
    background: var(--roxo-mais-claro);
}

.modalCabecalho.success {
    background: var(--cor-sucesso);
    color: var(--roxo-escuro);
}

.modalCabecalho.error {
    background: var(--cor-perigo);
}

.modalCabecalho.confirm {
    background: var(--cor-pendente);
    color: var(--roxo-escuro);
}

.modalTitulo {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

.modalBotaoFechar {
    background: none;
    border: none;
    color: inherit;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1;
    cursor: pointer;
    transition: transform 0.2s;
}

.modalBotaoFechar:hover {
    transform: scale(1.05);
}

.modalCorpo {
    padding: 1.5rem;
    font-size: 1rem;
    line-height: 1.6;
}

.modalRodape {
    padding: 1rem 1.5rem;
    border-top: 1px solid var(--fundo-transparente-medio);
    display: flex;
    justify-content: flex-end;
    gap: 0.75rem;
}

.botaoModalCancelar {
    background: var(--fundo-transparente-medio);
    color: var(--branco);
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
    font-weight: 600;
}

.botaoModalCancelar:hover {
    background: var(--fundo-transparente-leve);
}

.botaoModalConfirmar {
    padding: 0.6rem 1.2rem;
    border-radius: 0.5rem;
    font-weight: 700;
    color: var(--roxo-escuro);
}

.botaoModalConfirmar.info {
    background: var(--branco);
}

.botaoModalConfirmar.success {
    background: var(--cor-sucesso);
    border-radius: 0.5rem;
}

.botaoModalConfirmar.error {
    background: var(--cor-perigo);
    color: var(--branco);
    border-radius: 0.5rem;
}

.botaoModalConfirmar.confirm {
    background: var(--cor-pendente);
}

/* Animações */
@keyframes aparecer {
    to {
        opacity: 1;
    }
}

@keyframes aproximar {
    to {
        transform: scale(1);
    }
}