.cartaoFilme {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 0.7rem;
    overflow: hidden;
    transition: transform .18s;
    box-shadow: 0 4px 12px var(--sombra-bem-escura);
    background: var(--branco);
    color: var(--roxo-mais-escuro);
}

.cartaoFilme:hover {
    transform: translateY(-4px);
}

.posterWrapper {
    display: block;
    overflow: hidden;
}

.poster {
    height: 15rem;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s ease-in-out;
}

.cartaoFilme:hover .poster {
    transform: scale(1.02);
}

.infoCartao {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.tituloCartao {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.metaCartao {
    font-size: 0.8rem;
    margin-bottom: 1rem;
    font-weight: 600;

}

.acaoCartao {
    margin-top: auto;
}

.botaoDetalhesCartao {
    width: 100%;
    padding: 0.8rem;
    font-weight: 600;
    font-size: 1rem;
    background-color: var(--roxo-escuro);
    color: var(--branco);
    border-radius: 0.5rem;
    text-align: center;
    transition: background-color 0.2s;
}

.botaoDetalhesCartao:hover {
    background-color: var(--roxo-mais-escuro);
    color: var(--branco);
}