@import './variaveis.css'; /* Importando as variáveis de cores */

@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body, #root {
    height: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: "Stack Sans Text", sans-serif;
    background: var(--fundo-gradiente);
    color: var(--branco);
    -webkit-font-smoothing: antialiased;
    background-attachment: fixed;
    background-size: cover;
}

.containerApp {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.conteudoPrincipal {
    flex: 1;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
    font-family: inherit;
    border: none;
}

h1, h2, h3, h4 {
    margin: 0;
    font-weight: 700;
}

.containerInterno {
    max-width: 1100px;
    margin: 0 auto;
}

.cartaoPadrao {
    background: var(--fundo-card);
    border-radius: 12px;
    padding: 24px;
}

input, textarea, select {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--borda-transparente);
    background: var(--fundo-input);
    color: var(--branco);
    font-family: "Stack Sans Text", sans-serif;
    font-size: 1rem;
}

input::placeholder, 
textarea::placeholder {
    color: var(--texto-placeholder);
}

textarea {
    min-height: 150px;
    resize: none;
}

body[data-genre-theme="Terror"] {
    --tema-cabecalho-fundo: #000000;
    --tema-rodape-fundo: #2E2E2E;
    --tema-filtro-fundo: #2E2E2E;
    --tema-filtro-input: #161616;
}

body[data-genre-theme="Ficção"] {
    --tema-cabecalho-fundo: #040A16;
    --tema-rodape-fundo: #0B1631;
    --tema-filtro-fundo: #0B1631;
    --tema-filtro-input: #061025;
}

body[data-genre-theme="Drama"] {
    --tema-cabecalho-fundo: #1A0316;
    --tema-rodape-fundo: #2D0D28;
    --tema-filtro-fundo: #2D0D28;
    --tema-filtro-input: #25051F;
}

body[data-genre-theme="Romance"] {
    --tema-cabecalho-fundo: #10031A;
    --tema-rodape-fundo: #280841;
    --tema-filtro-fundo: #280841;
    --tema-filtro-input: #1C062E;
}

body[data-genre-theme="Aventura"] {
    --tema-cabecalho-fundo: #030D0F;
    --tema-rodape-fundo: #102225;
    --tema-filtro-fundo: #102225;
    --tema-filtro-input: #091A1D;
}

body[data-genre-theme="Fantasia"] {
    --tema-cabecalho-fundo: #180505;
    --tema-rodape-fundo: #351313;
    --tema-filtro-fundo: #351313;
    --tema-filtro-input: #200606;
}

body[data-genre-theme="Suspense"] {
    --tema-cabecalho-fundo: #060303;
    --tema-rodape-fundo: #321A1A;
    --tema-filtro-fundo: #321A1A;
    --tema-filtro-input: #130909;
}

body[data-genre-theme="Comédia"] {
    --tema-cabecalho-fundo: #120D00;
    --tema-rodape-fundo: #2D2100;
    --tema-filtro-fundo: #2D2100;
    --tema-filtro-input: #181200;
}