.rodape .containerInterno {
    padding: 0;
}

.rodape {
    width: 100%;
    padding: 3rem 0;
    margin-top: 4rem;
    background: var(--tema-rodape-fundo);
    border-top: 1px solid var(--borda-transparente);
}

.rodapeGrid {
    display: grid;
    grid-template-columns: 0.7fr 1.6fr 1fr 1fr;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.colunaRodape {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.logoRodapeImg {
    width: 10rem;
}

.logoRodape {
    font-family: "Great Vibes", cursive;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--branco);
    letter-spacing: 0.2rem;
}

.descricaoRodape {
    font-size: 1rem;
    line-height: 1.6;
    max-width: 320px;
    text-align: justify;
}

.copyrightRodape {
    font-size: 0.8rem;
    opacity: 0.7;
    margin-top: auto;
}

.tituloColuna {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--branco);
    margin-bottom: 0.5rem;
}

.listaLinksRodape {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: flex-start;
}

.listaLinksRodape a {
    font-size: 0.9rem;
    transition: all 0.2s ease;
    position: relative;
    display: inline-block;
    padding-bottom: 0.2rem;
}

.listaLinksRodape a:hover {
    color: var(--roxo-bem-claro);
}

.listaLinksRodape a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--roxo-bem-claro);
    transition: width 0.3s ease-in-out;
}

.listaLinksRodape a:hover::after {
    width: 100%;
}

.iconesSociais {
    display: flex;
    gap: 1.25rem;
}

.iconesSociais a {
    transition: all 0.2s ease;
}

.iconesSociais a svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--branco);
}

.iconesSociais a:hover {
    opacity: 1;
    transform: scale(1.1);
}

.iconesSociais a:hover svg {
    fill: var(--roxo-bem-claro);
}