.paginaHome {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
}

.secaoCarrossel {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    overflow: hidden;
    margin-bottom: 1.5rem; 
}

.containerSecoes {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}